<a href="https://colab.research.google.com/github/pritish-tripathy-aiml/Core-Python-Programming/blob/main/List_Datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**List Datatype in Python**

In [ ]:
# Introduction to Lists
# List is an Ordered Collection of Objects and it can have duplicate Objects
myList = ['john','smith','david','mark','eric','smith']     # All are String Objects
print(myList)
print(myList[2])
print(myList[-2])

# Another way to create a List
myList2 = list((1,2,3,4,5))
print(myList2)
print(myList2[1])
print(myList2[-1])

# List is Heterogeneous means it allows different kinds of Data
myList3 = ['marcus',16,1.23,True,'hello',3+5j]
print(myList3)
print(myList3[2])
print(myList3[-1])

# List is an Ordered Collection of Heterogeneous Objects that can hold Duplicates

['john', 'smith', 'david', 'mark', 'eric', 'smith']
david
eric
[1, 2, 3, 4, 5]
2
5
['marcus', 16, 1.23, True, 'hello', (3+5j)]
1.23
(3+5j)

In [ ]:
# List is Mutable, means its value can be Changed
myLi = [10,23,55,12,89,3]
print("Length:",len(myLi))
print(myLi)
myLi[0] = 30
myLi[4] = 99
myLi[-1] = 'hello'
print(myLi)

# We can also change number of Objects in a List
myLi.append('hi')
myLi.append('bye')
myLi.append(111)
print(myLi)
print("Length:",len(myLi))
# Changing the Size of a List is Costly Process

Length: 6
[10, 23, 55, 12, 89, 3]
[30, 23, 55, 12, 99, 'hello']
[30, 23, 55, 12, 99, 'hello', 'hi', 'bye', 111]
Length: 9

In [ ]:
# Operators on List
list1 = [1,2,3,4,5,6,7,8,9,10]

# Index Operator []
print(list1)
print(list1[7])
print(list1[-5])
list1[3] = 99       # Modifying the Value
list1[4] = 88
print(list1)

# Slice Operator [:] -> [start:end:steps]
print(list1[:])     # Print all the Elements
print(list1[3:])    # It will start from Index 3 to Last Element
print(list1[3:8])    # It will start from Index 3 to One before Index 8
print(list1[0:10:2])    # It will start from Index 0 to One before Index 10 and skip One Element
print(list1[-1:-11:-1])    # it will print from Reverse
print(list1[::-1])    # it will print from Reverse

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8
6
[1, 2, 3, 99, 88, 6, 7, 8, 9, 10]
[1, 2, 3, 99, 88, 6, 7, 8, 9, 10]
[99, 88, 6, 7, 8, 9, 10]
[99, 88, 6, 7, 8]
[1, 3, 88, 7, 9]
[10, 9, 8, 7, 6, 88, 99, 3, 2, 1]
[10, 9, 8, 7, 6, 88, 99, 3, 2, 1]

In [ ]:
# We can modify contents of List using Slice
list2 = [1,2,3,4,5,6,7,8,9,10]
print(list2)
list2[0:3]=[10,20,30]
print(list2)

list2[6:9] = [99]     # It will replace with One Element Only
print(list2)

list2[0:3] = [11,22,33,44,55,66,77]     # It will replace multiple Elements
print(list2)

list2[::2] = [11,22,33,44,55,66]
print(list2)      # If you are mentiong steps you have to replace according to the possible number of values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 4, 5, 6, 99, 10]
[11, 22, 33, 44, 55, 66, 77, 4, 5, 6, 99, 10]
[11, 22, 22, 44, 33, 66, 44, 4, 55, 6, 66, 10]

In [ ]:
# List Concatenation and in not in
# Combining Two List using Concatenation(+)
list1 = [1,2,3]
list2 = [8, 9, 10]
list3 = list1 + list2     # Creates a new List
print(list3)

list4 = list2 + [11,22,33]     # Creates a new List
print(list4)

# Adding List using extend
list1.extend([4, 5, 6])   # This will modify our List
print(list1)

# Repeatation Operator(*)
list5 = list1 * 5     # Creates a new List
print(list5)

# in and not in
if 3 in list1:
  print('Found')
else:
  print('Not Found')

# not in
print(5 in list1)
print(5 not in list1)

[1, 2, 3, 8, 9, 10]
[8, 9, 10, 11, 22, 33]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
Found
True
False

In [ ]:
# Visiting Elements in a List(iterations)
'''
Visiting all the Elements in a List is known as Iterating or Traversing a List
'''
list1 = [5,6,7,8,9]
# using for loop
for x in list1:
  print(x,end=' ')

# using for loop withing Range
for i in range(2,len(list1)):
  print(list1[i])
print("--")
for i in range(len(list1)):
  print(list1[i])

print("--")
# Print List in Reverse
for i in range(len(list1)-1,-1,-1):
  print(i)

5 6 7 8 9 7
8
9
--
5
6
7
8
9
--
4
3
2
1
0

In [ ]:
# while loop in List
list1 = [5,6,7,8,9]
i = 0
while(i < len(list1)):
  print(i,"-",list1[i])
  i = i + 1

0 - 5
1 - 6
2 - 7
3 - 8
4 - 9

In [ ]:
# List Methods - Adding Elements
l1 = [5, 6, 7, 8, 9]
print(l1)
l1.append(22)   # The List will be modified, added in l1
# You can only use one Argument using append
print(l1)

# append can also be done with Slicing
l1[len(l1):] = [100]
print(l1)

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 22]
[5, 6, 7, 8, 9, 22, 100]

In [ ]:
# append() Method
l1 = [1,2,3,4,5,6,7]
print(l1)
l1.extend([11,22,33,44,55])     # Multiple Values can be Added using extend()
print(l1)
l1.extend('abcd')
print(l1)

# Extend can also be done with Slicing
l1[len(l1):] = [100,200,300]
print(l1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 11, 22, 33, 44, 55]
[1, 2, 3, 4, 5, 6, 7, 11, 22, 33, 44, 55, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6, 7, 11, 22, 33, 44, 55, 'a', 'b', 'c', 'd', 100, 200, 300]

In [ ]:
# insert(i, x) method
l1 = [5, 6, 7, 8, 9]
print(l1)
l1.insert(0, 10)    # The Elements will move either right or left according to insert
print(l1)
l1.insert(4,20)
print(l1)

# inserting using slice
l1[4:4] = [100]
print(l1)

[5, 6, 7, 8, 9]
[10, 5, 6, 7, 8, 9]
[10, 5, 6, 7, 20, 8, 9]
[10, 5, 6, 7, 100, 20, 8, 9]

In [ ]:
# copy() Method
'''
It will make a shallow copy of a list and give a new List
'''
l1 = [10,20,30,40,50]
l2 = l1.copy()
print(l1,"-",id(l1))
print(l2,"-",id(l2))

[10, 20, 30, 40, 50] - 139841620457088
[10, 20, 30, 40, 50] - 139841620444736

In [15]:
# List Methods: Removing Elements
li = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
'''
Three methods to remove Elements from the List
pop() or pop(i), remove(x), clear
'''
print(li)
li.pop()      # If index is not given it will delete last element
print(li)
li.pop(-4)    # It will delete the 4 element from reverse.
print(li)

# The List will be modified, it will be the Same List

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[5, 6, 7, 8, 9, 10, 12, 13, 14]

In [20]:
li = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(li)
li.remove(10)       # It will delete the value 10
# If their are two occurence of value then it will remove the first occurence
# If the value is not found it will give error

print(li,"-",id(li))
li.clear()          # It will clear the complete list
print(li,"-",id(li))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[5, 6, 7, 8, 9, 11, 12, 13, 14, 15] - 137234686936704
[] - 137234686936704

In [27]:
# List Method: Index and Sorting
'''
index(x) or index(x,startIndex,endIndex), count(x)
'''
li = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
x = li.index(8)
print(x)    # It will give the index of first occurence of the value
# It the value is not found then it will give error.

y = li.index(13,5,10)      # It will start from index 5 to index of 9(just before index 10)
print(y)

li1 = [1,2,3,3,3,5,6,7,8,9,5,5]
z = li1.count(3)        # It will count number of occurence of the values in the list
print(z)
# If the element is not found it will return 0

3
8
3

In [28]:
'''
reverse()
'''
li = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(li)
li.reverse();     # It will reverse the complete List
print(li)
# It will modify the original List

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]

In [31]:
'''
sort() or sort(*,key=None,reverse=False)
'''
li1 = [3,3,3,1,1,5,2,3,6,7,8,7,7,9,5,5]
print(li1)
li1.sort()    # It will sort the elements
print(li1)
li1.sort(reverse=True)    # it will first sort the List then reverse the list
print(li1)
# It will modify the original list

[3, 3, 3, 1, 1, 5, 2, 3, 6, 7, 8, 7, 7, 9, 5, 5]
[1, 1, 2, 3, 3, 3, 3, 5, 5, 5, 6, 7, 7, 7, 8, 9]
[9, 8, 7, 7, 7, 6, 5, 5, 5, 3, 3, 3, 3, 2, 1, 1]

In [34]:
li = ['yy','jj','mm','BB','aa','ZZ']
print(li)
li.sort(key=str.lower)    # Every string is treated as lowercase
print(li)

li.sort(key=str.lower,reverse=True)
print(li)
# It will modify the original list

['yy', 'jj', 'mm', 'BB', 'aa', 'ZZ']
['aa', 'BB', 'jj', 'mm', 'yy', 'ZZ']
['ZZ', 'yy', 'mm', 'jj', 'BB', 'aa']

In [41]:
# List Comprehensions
l1 = []
print(l1)

for i in range(1, 15):
  l1.append(i)          # appending the list using for-loop
print(l1)

# This can be done using list comprehensions
li = [i for i in range(1,16)]       # appending values from 1 to 15
print(li)

# Using different method in list Comprehension
li1 = [i**2 for i in range(1,11)]     # append values with squares from range 1 to 10
print(li1)

li2 = [i/2 for i in range(1,31)]     # append values divide by 2 from range 1 to 30
print(li2)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0]

In [46]:
# Some more ways in List Comprehensions
li3 = [x for x in (1,2,3,4,5,6,7,8,9,10) if x%2 == 0]
print(li3)        # It will make a condition then print the List of Elements

li4 = [x for x in range (1,31) if x%2 == 0]
print(li4)        # It will make a condition then print then print the List of Elements

li5 = [x.lower() for x in 'PyTHOn']
print(li5)        # Make list of elements in lowercase and Print

li6 = [x for x in 'abc123@34^&$*' if x.isalpha()]
print(li6)        # Make list of elements that are Alphabet and Print

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
['p', 'y', 't', 'h', 'o', 'n']
['a', 'b', 'c']

In [47]:
# Using input() in List Comprehension
liNames = [input('Enter the Names:').split()]
print(liNames)

Enter the Names:john marcus david alex razor rock
[['john', 'marcus', 'david', 'alex', 'razor', 'rock']]

In [52]:
# Nested List
'''
List inside a List is known as Nested List
List = [10,20,['a','b'['c','d']], 30, 40]
'''
myList = [10,20,['a','b',['c','d']], 30, 40]
print(myList[2])
print(myList[2][2])
print(myList[2][2][0])

['a', 'b', ['c', 'd']]
['c', 'd']
c

In [58]:
matA = [[1,2,3],[4,5,6],[7,8,9]]
matB = [[9,8,7],[6,5,4],[3,2,1]]
comMat = []
for i in range(len(matA)):
  myS = []
  for j in range(len(matA[0])):
    myS.append(matA[i][j] + matB[i][j])
  comMat.append((myS))
print(comMat)

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

##**List Datatype End**