<a href="https://colab.research.google.com/github/pritish-tripathy-aiml/Core-Python-Programming/blob/main/Python_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Python Datatypes**

In [ ]:
# Variables
# Variables are nothing but the name given to the data or the reference to the data
# Declaration and Initialization is done together in Python

age = 15  # Here age is a variable, 15 is data stored in memory and age is variable refering to the value
name1 = 'soap' # Here soap is stored in memory and name1 is variable referencing to 'soap'

# Giving a name to the variable is called Declaration
# Giving a value to the variable is called Initialization
# Python is a Dynamically Typed Language, datatype is not required

In [ ]:
# Examples based on Variables
myAge = 15
myName = 'david'
price = 15.5
myMsg = 'Hello Friend';
# myStr (Not Allowed)
print(myAge)
print(myName)
print(price)
print(myMsg)

15
david
15.5
Hello Friend

In [ ]:
# Declaring and Initializing Multiple Variable
a,b,c = 5,10,15
nameA, nameB, nameC = 'david','marcus','john'
product, prPrice, weight = 'toothpaste',16.7,100

# Delcaring and Initializing Multiple Variables with same Values
x = y = z = 1

# Printing the Values
print(a)
print(b)
print(c)
print(nameA)
print(nameB)
print(nameC)
print(product)
print(prPrice)
print(weight)
print(x)
print(y)
print(z)

5
10
15
david
marcus
john
toothpaste
16.7
100
1
1
1

In [ ]:
# Python - Dynamically typed Language
x = 25

# Here value 25 is an Integer so the variable x is also Integer type because x is just a reference to the value of 25
# Variables do not have a datatype, they just become the type of datatype of values assigned to them.
# Variables are also known as Identifiers
x = 13.75  # Now the datatype of x becomes float type
x = 'AA'  # Now the datatype of x becomes String type.
# This is the reason Python is called dynamically typed language.
print(x)

# To know the datatype of our variable we can use typeof
print(type(x))

# Everything in Python is an Object that means their is a class available for them.

myArr = [1,2,3,4,5,6,7,8]
print(myArr)
print(type(myArr))

AA
<class 'str'>
[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

In [ ]:
# Rules for Declaring Variable Name
# 1. Name can contain alphanumeric characters or underscore.
# Example: myName, _myOrder, cust_name12
# Only underscore(_) can be used as a Special Character
myName = "mark"
_myOder = 'soap'
cust_name12 = 'john'

# 2. Name should start with letter or underscore character
# Example: hello12, _myName
hello12 = 'myHello message'
_x1 = 100;
# 1x is not allowed because it starting from a number.

# 3. Keywords should not be used.
# Reserved Words cannot be used for Variables
# while, if, pass... these are the predefined words which are known as Reserved words or keywords which cannot be used as Variable names

# 4. Variables are case-sensitive
# Example: name and Name are different variables
MYARr = [1,2,3,4,5]
MYARR = [10,20,30,40,50]
print(MYARr)
print(MYARR)

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]

In [ ]:
# Python Datatypes
"""
1) Numeric Datatype => Can hold single Data
  a) int => 10,20,999
  b) float => 19.25, 1.75
  c) bool => True, False
  d) complex => c = a + ib

2) Sequence Datatype => Can hold collection of Values, All values will have indexes
  a) list => [1,2,3,4,5] => index starting from 0, values can be changed(Mutable)
  b) tuple => (2,3,4,5,6) => Its values cannot be changed(Immutable)
  c) string => 'Hello',"Friend" => Collection of Characters
  d) bytes => Contains one byte of Data that is values from 0 - 255 only (Immutable)
  e) bytearray => Contains one byte of Data that is values from 0 - 255 only (Mutable)

3) Set Datatype => Also hold collection of values but the values are not indexed way, they are unordered
  a) set => {1,2,3,4,5} => Also hold collection of values but the values are not indexed way, they are unordered(Mutable)
  b) frozenseet => {3,4,5} => Also hold collection of values but the values are not indexed way, they are unordered(Immutable)

4) Dictionary => Stores key and value pair
  a) dict => name:'john', roll:'123', average:8.5
"""

'\n1) Numeric Datatype => Can hold single Data\n  a) int => 10,20,999\n  b) float => 19.25, 1.75\n  c) bool => True, False\n  d) complex => c = a + ib\n\n2) Sequence Datatype => Can hold collection of Values, All values will have indexes\n  a) list => [1,2,3,4,5] => index starting from 0, values can be changed(Mutable) \n  b) tuple => (2,3,4,5,6) => Its values cannot be changed(Immutable)\n  c) string => \'Hello\',"Friend" => Collection of Characters\n  d) bytes => Contains one byte of Data that is values from 0 - 255 only (Immutable)\n  e) bytearray => Contains one byte of Data that is values from 0 - 255 only (Mutable)\n\n3) Set Datatype => Also hold collection of values but the values are not indexed way, they are unordered\n  a) set => {1,2,3,4,5} => Also hold collection of values but the values are not indexed way, they are unordered(Mutable)\n  b) frozenseet => {3,4,5} => Also hold collection of values but the values are not indexed way, they are unordered(Immutable)\n\n4) Dictionary => Stores key and value pair\n  a) dict => name:\'john\', roll:\'123\', average:8.5\n'

In [ ]:
# Numeric Datatypes
# Integer Datatype => Integral Value without any decimal point
x1 = 123
x2 = 984958
x3 = -849

# Their is no range for Integer Number
xM = 999349458483948595486432534363565464343888888812312312

# Their is no fixed size taken by any of the datatype
print(x1, x2, x3, xM)

# Syntax to Print the Size Occupied by the Given Value
print(xM.__sizeof__())
print(x1.__sizeof__())

# Value given in Python is Immutable
"""
a = 125
a = 200

Here a first referenced to the value 125 then after we assign 200 the variable a is referenced
to the value 200. The old 125 cannot be changed, it will be garbage collected by PVM.
"""

123 984958 -849 999349458483948595486432534363565464343888888812312312
48
28

In [ ]:
# Floating Point => Any value that have decimal point is called Floating Point or Decimal Number
f1 = 12.25
f2 = -123.45
f3 = 0.87E2
"""
E2 means E to the Power 2
Value before E is called Mantissa
Value after E is called Exponent
"""
f4 = 76.89E-3
"""
E2 means E to the Power -3
"""
print(f1, f2, f3, f4)

# Their is not range in Float Datatype as well

print(f1.__sizeof__(), f4.__sizeof__())

12.25 -123.45 87.0 0.07689
24 24

In [ ]:
# Boolean Datatype
# It is mostly used in Relational and Logical Operators
# T and F should be in Uppercase and Rest all should be Lowercase
b1 = True
b2 = False
print(b1, b2)

# True means 1 and False means 0 but we cannot use 1 or 0 instead of True or False
print(type(b1), type(b2))

True False
<class 'bool'> <class 'bool'>

In [ ]:
# Complex Datatype
# Complex Numbers have two parts real and imaginary, it is written in a + ib format
# a is real part and b is imaginary part, i = root of -1

cx1 = 12 + 3j
cx2 = 2 - 6j
cx3 = 3.23 + 4.5j
print(cx1, cx2, cx3)
print(type(cx1), type(cx2), type(cx3))

# Printing the Real and Imaginary Parts
print(cx1.real, cx1.imag)
print(cx1.real, cx1.imag)
print(cx1.real, cx1.imag)

# Printing the Sizeof Complex
print(cx1.__sizeof__(), cx2.__sizeof__())

# Creating Complex Number
cxA = complex(12.3,56.3)
cxB = complex(23)
cxC = complex(0.4,0.9)
print(cxA, cxB, cxC)

(12+3j) (2-6j) (3.23+4.5j)
<class 'complex'> <class 'complex'> <class 'complex'>
12.0 3.0
12.0 3.0
12.0 3.0
32 32
(12.3+56.3j) (23+0j) (0.4+0.9j)

In [5]:
# Literals => These are the values or data directly written in the program.
# Direct way to write a Literal
price = 250;  # Here 250 is a Literal

# By Default input are String Type
price1 = input("Enter the Price: ") # Taking values by user input
print(price, price1)

# Underscore can be given if the value is bigger
myNum = 123_456_12_56

# Float Literals
myFl = 12.59
myFl2 = 1.31E3
myFl3 = 12_34.5_6
# Underscore Before or After Decimal Point is not Allowed
print(myFl, myFl2, myFl3)

# Boolean(bool) Literals
myBool1 = True
myBool2 = False
print(myBool1, myBool2)

# Complex Literals
myCp1 = 5 + 4j
myCp2 = 5_1 + 9.5_6j
print(myCp1, myCp2)

# String Literals
myStr1 = "Hello Friend"
myStr2 = 'Hey, my guy'
print("myStr1: ",myStr1, "| myStr2:", myStr2)

Enter the Price: 200
250 200
12.59 1310.0 1234.56
True False
(5+4j) (51+9.56j)
myStr1:  Hello Friend | myStr2: Hey, my guy

In [6]:
# Integer Literals in Python
# Integer Literals can be represented as different number Systems
# Decimal -> Base 10, Digits from 0 to 9
aDec = 10
print("Decimal: ",aDec)

# Binary -> Base 2, Only 2 digits that is 0 and 1
aBin = 0b1010   # Start with 0b
print("Binary: ",aBin)

# Octal -> Base 8, Digits from 0 to 7
aOct = 0o15   # Start with 0o
print("Octal: ",aOct)

# Hexadecimal -> Base 16, Digits from 0 to 9 and letters from A to F
aHex = 0x7de  # Start from 0x
print("Hexadecimal: ",aHex)

# Number System can be used only for Integer Literals, they cannot be used for Float Literal

# Number System can be used for Real Part of Complex Numbers
cxBin = 0b101 + 6j
print("Complex Binary: ",cxBin)

Decimal:  10
Binary:  10
Octal:  13
Hexadecimal:  2014
Complex Binary:  (5+6j)

In [9]:
# Take Input as other Number System
# Decimal Form
myDec = int(input("Enter Decimal:"))
print("In Decimal: ",myDec)

# Binary Form
myBin = int(input("Enter Binary Form:"),2)
print("In Binary: ",myBin)

# Octal Form
myOct = int(input("Enter Octal Form:"),8)
print("In Octal: ",myOct)

# Hexadecimal Form
myHex = int(input("Enter Hexadecimal Form:"),16)
print("In Hexadecimal: ",myHex)

Enter Decimal:123
In Decimal:  123
Enter Binary Form:0b110110
In Binary:  54
Enter Octal Form:0o17732
In Octal:  8154
Enter Hexadecimal Form:0xface1129
In Hexadecimal:  4207808809

In [12]:
# Base Conversion Functions
'''
bin(), oct(), hex() these functions are used to change the value of a number to required number system
All these functions will give String Result
'''
aNum = 123
xBin = bin(aNum)
xOct = oct(aNum)
xHex = hex(aNum)
print("123 in Binary: ",xBin)
print("123 in Octal: ",xOct)
print("123 in Hexadecimal: ",xHex)

'''
Boolean Literals can also be use in the above given number system Functions
'''
aBool = True
bBool = False
# True Literal in Binary, Octal and Hexadecimal
tBin = bin(aBool)
tOct = oct(aBool)
tHex = hex(aBool)
print("False in Binary: ",tBin)
print("False in Octal: ",tOct)
print("False in Hexadecimal: ",tHex)

# False Literal in Binary, Octal and Hexadecimal
fBin = bin(bBool)
fOct = oct(bBool)
fHex = hex(bBool)
print("True in Binary: ",fBin)
print("True in Octal: ",fOct)
print("True in Hexadecimal: ",fHex)

123 in Binary:  0b1111011
123 in Octal:  0o173
123 in Hexadecimal:  0x7b
False in Binary:  0b1
False in Octal:  0o1
False in Hexadecimal:  0x1
True in Binary:  0b0
True in Octal:  0o0
True in Hexadecimal:  0x0

In [13]:
# Type Conversion in Python
# Converting One Datatype to Other Datatype is called Type Conversion
'''
There are two types of Conversions in Python
1) Implicit Type Conversion -> Done by Python Automatically
2) Explicit Type Conversion -> Have to do it Manually
'''
# Converting Values to Integer
myI = 15
print("Integer: ",myI)
print(type(myI))

# Float to Integer
myF = 16.59
cvFI = int(myF)
print("Float: ",myF," Type: ",type(myF))
print("Float to Integer: ",cvFI," Type: ",type(cvFI))

# Boolean to Integer
myBl = True
cvBlI = int(myBl)
print("Boolean: ",myBl," Type: ",type(myBl))
print("Boolean to Integer: ",cvBlI," Type: ",type(cvBlI))

myCx = 10 + 6j
# Cannot be converted to Integer

myS1 = 'marcus'   # This String cannot be converted to Integer
myS2 = '125'   # This String can be converted to Integer
cvS2I = int(myS2)
print("String: ",myS2," Type: ",type(myS2))
print("String to Integer: ",cvS2I," Type: ",type(cvS2I))

myS3 = '0b1101'
cvBin = int(myS3,2) # We have to give the Base Value
print("String: ",myS3," Type: ",type(myS3))
print("String to Integer(Binary): ",cvBin," Type: ",type(cvBin))

myS4 = "0xfac12"
cvHex = int(myS4,16)  # We Have to provide the Base Value
print("String: ",myS4," Type: ",type(myS4))
print("String to Integer(Hexadecimal): ",cvHex," Type: ",type(cvHex))

Integer:  15
<class 'int'>
Float:  16.59  Type:  <class 'float'>
Float to Integer:  16  Type:  <class 'int'>
Boolean:  True  Type:  <class 'bool'>
Boolean to Integer:  1  Type:  <class 'int'>
String:  125  Type:  <class 'str'>
String to Integer:  125  Type:  <class 'int'>
String:  0b1101  Type:  <class 'str'>
String to Integer(Binary):  13  Type:  <class 'int'>
String:  0xfac12  Type:  <class 'str'>
String to Integer(Hexadecimal):  1027090  Type:  <class 'int'>

In [14]:
# Converting Values to Float
i = 15
iFl = float(i)
print("Integer to Float: ",iFl)

# Boolean Cannot be converted to Float
'''
bl = True
blFl = float(bl) -> Not Possible
'''

# Complex Cannot be Converted to Float
'''
cx = 12+10j
cxFl = float(cx) -> Not Possible
'''

s1 = 'mark' # This cannot be converted to Float
s2 = '12.56' # This can be converted to Float
stFl = float(s2)
print("String to Float: ",stFl)

Integer to Float:  15.0
String to Float:  12.56

In [18]:
# Converting the Values into Complex Datatype
# Integer to Complex
i = 15
iCx = complex(i)
print("Integer to Complex: ",iCx)
# Here only real part will be assigned imaginary part will be 0j

# Float to Complex
f = 12.67
fCx = complex(f)
print("Float to Complex: ",fCx)
# Here only real part will be assigned imaginary part will be 0j

# Boolean to Complex
b = True
bCx = complex(b)
print("Boolean to Complex: ",bCx)
# Here only real part will be assigned as 1.0 imaginary part will be 0j

# String to Complex
s1 = "hello"  # This cannot be converted to Complex Type
s2 = '125'  # This can be converted to Complex Type
s3 = '9+10j'  # This can be converted to Complex Type
s2Cx = complex(s2)
s3Cx = complex(s3)
print("S2 to Complex: ",s2Cx)
print("S3 to Complex: ",s3Cx)
# We can Convert all the datatypes to Complex Datatype

Integer to Complex:  (15+0j)
Float to Complex:  (12.67+0j)
Boolean to Complex:  (1+0j)
S2 to Complex:  (125+0j)
S3 to Complex:  (9+10j)

In [19]:
# Converting the Values into Boolean Datatype
# Boolean works on all the Datatypes
# Integer to Boolean
i = 15
iBl = bool(i)
print("Integer to Boolean: ",iBl)
# If the value of i is 0 then only it will return False

# Float to Boolean
f = 12.67
fBl = bool(f)
print("Float to Boolean: ",fBl)
# If the value of f is 0.0 then only it will return False

# Complex to Boolean
cx = 10+12j
cxBl = bool(cx)
print("Complex to Boolean: ",cxBl)
# If the value of cx is 0+0j then only it will return False

# String to Boolean
s1 = "hello"
s2 = '125'
s3 = ''
mybool1 = bool(s1)
mybool2 = bool(s2)
mybool3 = bool(s3)
print("S1 to Boolean: ",mybool1)
print("S2 to Boolean: ",mybool2)
print("S3 to Boolean: ",mybool3)
# If any string is empty then only it will return False

Integer to Boolean:  True
Float to Boolean:  True
Complex to Boolean:  True
S1 to Boolean:  True
S2 to Boolean:  True
S3 to Boolean:  False

In [20]:
# Converting the Values into String Datatype
# String works on all the Datatypes
# Integer to String
i = 15
iSt = str(i)
print("Integer to String: ",iSt)

# Float to String
f = 12.67
flSt = str(f)
print("Float to String: ",flSt)

# Boolean to String
bl = True
blSt = str(bl)
print("Boolean to String: ",blSt)

# Complex to String
cx = 10+12j
cxSt = str(cx)
print("Complex to String: ",cxSt)

Integer to String:  15
Float to String:  12.67
Boolean to String:  True
Complex to String:  (10+12j)

In [21]:
'''
int() -> int, float, bool, str
float() -> int, float, str
complex() -> int, float, complex, bool, str
bool() -> int, float, complex, bool, str
str() -> int, float, complex, bool, str
'''
# int() do not work on complex(i.e Cannot convert complex number to integer type)
# float() do not work on complex(i.e Cannot convert complex number to float type)
# rest complex(), bool() and str() work with every datatype

'\nint() -> int, float, bool, str\nfloat() -> int, float, str\ncomplex() -> int, float, complex, bool, str\nbool() -> int, float, complex, bool, str\nstr() -> int, float, complex, bool, str\n'

##**End of Python Datatypes**